<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="directxtex_desktop_win10" version="2023.4.28.1" targetFramework="native" />
  <package id="Microsoft.Direct3D.D3D12" version="1.610.2" targetFramework="native" />
  <package id="Microsoft.Direct3D.DXC" version="1.7.2212.36" targetFramework="native" />
</packages>